body {
    background: #111;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding-top: 60px;
}

/* Контейнер для промо и слота */
.container {
    display: flex;
    flex-direction: row;
    /* промо слева, слот справа */
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding: 40px;
}

/* Слот */
.slot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slot {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.reel {
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: #222;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.reel img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    user-select: none;
}

button {
    padding: 10px 25px;
    background: #2fa32f;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #39c139;
}

#out {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.legend {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.legend div {
    background: #222;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

.legend div:hover {
    transform: scale(1.1);
}

.legend img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 5px;
    object-fit: cover;
}

.legend span {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.win {
    border: 2px solid gold;
    box-shadow: 0 0 15px gold;
    animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Промо-блок слева */
.promo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 600px;
    background-color: #363535;
    padding: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px #fc90c3;
}

.top h2 {
    color: #ff0080;
    text-align: justify;
}

.bottom p {
    color: #ffcc66;
    text-align: justify;
    margin-top: 20px;
}

/* Заголовки */
h2 {
    color: #f2117a;
    margin-top: 20px;
}

h4 {
    color: #f5d3e3;
}